/* reset */

* {
  box-sizing: border-box;
  padding: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#cont {
  border-radius: 40px;
}

#cont .rel {
  position: relative;
  background-image: url("img/banner.jpg");
  min-height: 430px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.text {
  bottom: 20px;
  left: 40px;
  max-width: 400px;
  margin: 0;
  color: white;
  font-size: 15px;
  z-index: 5;
  position: absolute;
}

h2 {
  margin: 0;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  margin-top: 0;
}

.overlay::after {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  opacity: 0.2;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* header */
.first {
  min-height: 80px;
  max-width: 900px;
}
.img-logo {
  width: 150px;
  height: 100%;
}

ul {
  margin: 0;
}

li {
  display: inline-block;
  color: gray;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  border-radius: 40px;
}

#main-content .container {
  min-height: 400px;
}

h1 {
  margin-bottom: 0;
}

.row [class^="col-"] {
  float: left;
}

.col-2 {
  width: 50%;
}

.col-1 {
  width: 25%;
  height: 120px;
}

/* footer */
.last {
  width: 100%;
  text-align: center;
  margin-top: 3px;
}

.wrap {
  padding: 0;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.card-img {
  width: 100%;
  height: 100%;
}
.stick {
  color: red;
}
